# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.env

# Flask
instance/
.flask_session/

# AI Models (لو عندك ملفات موديل كبيرة)
*.h5
*.pkl
*.pt
*.pth

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/